* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(219, 218, 218);
  height: 1000px;
}

.header {
  width: 100%;
  height: 100px;
  /* border: solid; */

  display: flex;
  align-items: center;
}

.navigacia {
  width: 100%;
  height: 116px;
  /* border: solid red; */
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(219, 218, 218);
  z-index: 100;
}

.Navtext {
  display: flex;
  gap: 20px;
}

.SellSomething {
  width: 156px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #29b24e;
  cursor: pointer;
}

.SellSomething a {
  color: #ffffff;
  text-decoration: none;
}

.Navtext a {
  text-decoration: none;
  color: #000000e5;
}

.Home {
  height: 30px;
  border-bottom: solid #29b24e;
}

.Main {
  border: solid red;
  /* height: auto; */
  width: 80%;
  margin: 100px auto;
}

/* meniu left */

.LeftMeniuFoto {
  display: flex;
  gap: 10px;
  /* border: solid red; */
}

.LeftMeniu {
  min-width: 295px;
  max-width: 395px;
  width: 30%;
  height: auto;
  /* border: solid; */
  background-color: #f8f8f8;
  border-radius: 24px;
}

.KontainerLeftMeniu {
  width: 90%;
  /* height: auto; */
  /* border: solid red; */
  margin: 15px auto;
}

.Left-meniu-bottom-items-widths {
  /* border: solid; */
  width: 60%;
}

.MarginTopKontMeniuItems {
  margin: 20px 0px;
}

.h2 {
  width: 69px;
  height: 24px;
  color: #000000;
  font-size: 16px;
}

.inputAndiqon {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.input-hoby {
  /* border: solid; */
  width: 85%;
}

.iqondiv {
  /* border: solid; */
  display: flex;
}

.InputText {
  width: 100%;
  height: 48px;

  background-color: #f8f8f8;
  outline: none;
  border: none;
}

.InputText::placeholder {
  color: #000000;
  font-size: 14px;
}

.InputIqon {
  width: 16px;
  height: 16px;
  opacity: 90%;
}
.h2-2 {
  color: #000000;
  font-size: 16px;
}

.Checkbox-Paragraf-Grid-Kont {
  display: grid;
  grid-template-columns: auto auto;
  gap: 17px;
  column-gap: 20px;
}

.checkbox-conteiner {
  position: relative;

  /* border: solid; */
  user-select: none;
  cursor: pointer;
}

.checkbox-conteiner input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}

.input-span {
  position: absolute;
  border: solid #29b24e;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
}

.input-span:hover {
  background-color: #29b24e;
}

.checkbox-conteiner input:checked ~ .input-span {
  background-color: #29b24e;
}

.input-span::after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-conteiner input:checked ~ .input-span::after {
  display: block;
}

.checkbox-conteiner .input-span::after {
  left: 2px;
  top: 1px;
  width: 4px;
  height: 5px;
  border: solid white;
  border-width: 0 2px 2px 0;

  transform: rotate(45deg);
}

.checkbox-paragraf {
  font-size: 14px;
  color: #000000;
}

.h2-3 {
  color: #000000;
  font-size: 16px;
}

/* fhoto search right */

.RightFoto {
  width: 100%;
  position: relative;
  /* border: solid red; */
  display: flex;

  justify-content: center;
}

.FotoHad {
  width: 100%;
  height: 751px;
  object-fit: cover;
  border-radius: 24px;
}

.Elementsin-foto-flex-cont {
  /* border: solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  margin-top: 70px;
  gap: 10px;
}

.h1 {
  font-size: 48px;
  color: #000000cc;
}

.Elementsin-foto-flex-paragraf-cont {
  /* border: solid red; */
  display: flex;
  justify-content: center;
}

.Elementsin-foto-paragraf {
  font-size: 16px;
  color: #000000cc;
}

.Elementsin-foto-flex-search-cont {
  display: flex;
  justify-content: center;
}

.Search-Had-Css-Cont {
  /* border: solid blue; */
  width: 300px;
  display: flex;
  justify-content: center;
  background-color: #ffffffcc;
  border-radius: 10px;
  margin-top: 40px;
  box-shadow: 8px 8px 25px 0px;
}

.Search-Had-Css {
  width: 224px;
  height: 48px;
  background-color: #f8f8f8cc;

  border: none;
  outline: none;
}

.Search-Had-Css::placeholder {
  color: #000000;
  font-size: 14px;
  opacity: 20%;
}

.search-iqon-cont {
  /* border: solid; */
  display: flex;
  align-items: center;
}
.search-iqon {
  width: 18px;
  height: 18px;
  opacity: 50%;
  cursor: pointer;
}

/* trendings ads cards */

.h3 {
  font-size: 18px;
  color: #000000;
}

.section-grid-cont {
  border: solid yellow;
  /* display: grid; */
}

.cont-1 {
  /* border: solid; */
  width: 295px;
  height: 424px;
  border-radius: 24px;
  background-color: #f8f8f8;
}

.img-for-cont-1-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;

  transform: translateY(12px);
  align-items: center;
  position: relative;
  /* border: solid red; */
}

.img-for-cont-1 {
  width: 263px;
  height: 202px;
  border-radius: 20px;
}

.vip-for-cont-1 {
  /* border: solid; */
  position: absolute;

  left: 0;
  top: 0;
  margin-top: 10px;
  transform: translateX(25px);
  width: 76px;
  height: 30px;
  border-radius: 15px;
  background-color: #29b24e;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.vip-for-cont-1-paragraf {
  color: #ffffff;
  font-size: 12px;
}

.nishani-for-cont-1-article {
  /* border: solid; */
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-20px);
  margin-top: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.nishani-for-cont-1 {
  width: 18px;
  height: 18px;
}

.h4-article {
  /* border: solid; */
  width: 263px;
}

.h4 {
  color: #000000;
  font-size: 16px;
}

.h4-bottom-paragraf-article {
  /* border: solid; */
  width: 263px;
}

.h4-bottom-paragraf {
  font-size: 14px;
  color: #000000;
  opacity: 50%;
}

.price-article {
  width: 263px;
  /* border: solid; */
  display: flex;
  justify-content: flex-end;
}

.price-number {
  font-size: 24px;
  color: #29b24e;
}

.price-month {
  font-size: 12px;
  margin-top: 10px;
  color: #000000;
}

.xazi-cont-1 {
  width: 100%;

  border: 0.5px solid #cfead6;
}

.end-element-cont {
  /* border: solid; */
  display: flex;
  align-items: center;
  width: 263px;
  height: 60px;
  justify-content: space-between;
  transform: translateY(-10px);
}

.end-paragraf {
  font-size: 14px;
  color: #000000;
}
