* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 245, 245);
  height: 1000px;
}

.header {
  width: 100%;
  height: 100px;
  /* border: solid; */

  display: flex;
  align-items: center;
}

.navigacia {
  width: 100%;
  height: 116px;
  /* border: solid red; */
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(245, 245, 245);
  z-index: 100;
}

.Navtext {
  display: flex;
  gap: 20px;
}

.SellSomething {
  width: 156px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #29b24e;
  cursor: pointer;
}

.SellSomething a {
  color: #ffffff;
  text-decoration: none;
}

.Navtext a {
  text-decoration: none;
  color: #000000e5;
}

.Home {
  height: 30px;
  border-bottom: solid #29b24e;
}

.Main {
  /* border: solid red; */
  /* height: 600px; */
  width: 80%;
  margin: 100px auto;
  /* margin-top: 100px; */
  /* position: absolute; */
}

.LeftMeniuFoto {
  display: flex;
  gap: 10px;
  /* border: solid red; */
}

.LeftMeniu {
  width: 395px;
  height: 751px;
  border: solid;
  background-color: #f8f8f8;
  border-radius: 24px;
}

.KontainerLeftMeniu {
  width: 90%;
  height: 90%;
  border: solid red;
  margin: 30px auto;
  /* display: grid;
  gap: 5px; */
}

.MarginTopKontMeniuItems {
  margin: 10px 0px;
}

.h2 {
  width: 69px;
  height: 24px;
  color: #000000;
  font-size: 16px;
}

.inputAndiqon {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.input-hoby {
  /* border: solid; */
  width: 85%;
}

.iqondiv {
  /* border: solid; */
  display: flex;
}

.InputText {
  width: 100%;
  height: 48px;

  background-color: #f8f8f8;
  outline: none;
  border: none;
}

.InputText::placeholder {
  color: #000000;
  font-size: 14px;
}

.InputIqon {
  width: 16px;
  height: 16px;
  opacity: 90%;
}
.h2-2 {
  color: #000000;
  font-size: 16px;
}

.Checkbox-Paragraf-Flex-Kont {
  display: flex;
  gap: 10px;
}

.checkbox-conteiner {
  display: block;
  position: relative;
  /* font-size: 22px; */
  /* border: solid; */
  user-select: none;
  cursor: pointer;
  padding: 6px;
  /* margin-bottom: 12px; */
}

.checkbox-conteiner input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}

.input-span {
  position: absolute;
  border: solid #29b24e;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.input-span:hover {
  background-color: #29b24e;
}

.checkbox-conteiner input:checked ~ .input-span {
  background-color: #29b24e;
}

.input-span::after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-conteiner input:checked ~ .input-span::after {
  display: block;
}

.checkbox-conteiner .input-span::after {
  left: 3px;
  top: 2px;
  width: 3px;
  height: 5px;
  border: solid white;
  border-width: 0 5px 5px 0;

  transform: rotate(45deg);
}
/* .input-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  opacity: 90%;
  border: 10px solid red !important;
  border: none;
  outline: none;

  @@@ gaaagrdzele aqidan @@@ */

/* border: 1px solid #f61010;
  color: #29b24e;
  background-color: #29b24e;
  border-color: #29b24e;
} */

/* .input-checkbox:checked {
  border-color: #29b24e;
  color: #010101;
  background-color: #29b24e;
  border-color: #29b24e;
  border-top-color: #010101;
}

.input-checkbox:focus {
  color: #010101;
  background-color: #29b24e;
  border-color: #29b24e;
  border-top-color: #010101;
} */
.checkbox-paragraf {
  font-size: 14px;
  color: #000000;
}

.RightFoto {
  width: 100%;

  /* border: solid; */
}

.FotoHad {
  width: 100%;
  height: 751px;
  object-fit: cover;
  border-radius: 24px;
}
